@model CafeWebsite.Models.Blogs

@{
    ViewBag.Title = "Details";
}


<div class="card">
    <div class="header">
        <h2 class="title">Blog Details</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="form-control">
                    <label>Blog Title : </label>
                    <label>
                        @Html.DisplayFor(model => model.Title)
                    </label>
                </div>
                <br />
                <div class="form-control">
                    <label>Blog Date : </label>
                    <label>
                        @Html.DisplayFor(model => model.date)
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <img src="~/Uploads/@Html.DisplayFor(model => model.URL)" class="img-box" id="b-img" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Blog Content : </label>
            <p class="" >@Html.Raw(Model.Content)</p>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <a class="btn btn-default" href="/Blogs/Index">Back To List</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary" href="/Blogs/Edit/@Html.DisplayFor(m=>m.ID)">Edit</a>
            </div>
        </div>
    </div>
</div>
