@{
    ViewBag.Title = "Home Page";
}
<div class="head">
    <div class="row">
        <div class="col-md-3">
            <div class="btnmain text-center" style="background-color:#26a69a;color:#fff">
                <i class="fa fa-envelope fa-3x"></i>
                <h4>5266412</h4>
                <h5>Contacts</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btnmain text-center" style="background-color:#03a9f4;color:#fff">
                <i class="fa fa-envelope fa-3x"></i>
                <h4>5266412</h4>
                <h5>Contacts</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btnmain text-center" style="background-color:#ff7043;color:#fff">
                <i class="fa fa-envelope fa-3x"></i>
                <h4>5266412</h4>
                <h5>Contacts</h5>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btnmain text-center" style="background-color:#017db5;color:#fff">
                <i class="fa fa-envelope fa-3x"></i>
                <h4>5266412</h4>
                <h5>Contacts</h5>
            </div>
        </div>
    </div>
</div>

<script src="~/Admin/assets/js/chartist.min.js"></script>