@model CafeWebsite.Models.Menu
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="card">
    <div class="header">
        <div class="row">
            <div class="col-md-4 text-right"><label>Category : </label></div>
            <div class="col-md-8">
                @Html.DropDownList("id", ViewBag.Cat as SelectList, htmlAttributes: new { @class = "form-control text-left",@id= "cmbProducts" })
            </div>
        </div>
        <h2 class="title">Menu'sList</h2>
        <h3 class="category">@Html.ActionLink("Insert New Menu's Item", "Create")</h3>
    </div>
    <div class="content table-responsive table-full-width">

        <table class="table table-bordered  table-hover table-striped">
            <thead class="text-center">
                <tr>
                    <th style="width:250px">Name</th>
                    <th style="width:350px">Content</th>
                    <th style="width:50px">Price</th>
                    <th class="op-width">Operations</th>
                </tr>
            </thead>
            <tbody id="tbl-data">
                @*@foreach (var item in Model)
            {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a href="/MenuCat/Edit/@item.ID" class="btn btn-primary btn-tbl"><i class="fa fa-edit"></i></a>
                            <a href="/MenuCat/Delete/@item.ID" class="btn btn-danger btn-tbl"><i class="fa fa-remove"></i></a>
                            <a href="/Studio/Details/@item.ID" class="btn btn-info btn-tbl"><i class="fa fa-file"></i></a>
                        </td>
                    </tr>
                }*@
            </tbody>
        </table>
        <div class="card-footor">
            <label>Count : </label>
            <label class="count"></label>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        
        $("#cmbProducts").change(function () {
            var i=0;
            $.get("/Menu/GetMenu", { id: $("#cmbProducts").val() }, function (data) {
                $("#tbl-data").children("tr").remove();
                $.each(data, function (Index, row) {
                    i++;
                    $("#tbl-data").append("<tr><td>" + row.Name + "</td><td>" + row.Content + "</td><td>" + row.Price + "</td><td><a href='/Menu/Edit/" + row.ID +
                            "' class='btn btn-primary btn-tbl'><i class='fa fa-edit'></i></a> | <a href='/Menu/Delete/" + row.ID +
                            "' class='btn btn btn-danger btn-tbl'><i class='fa fa-remove'></i></a></td></tr>");
                    // $('#tbl-data').append("<tr><td>" + row.PName + "</td><td>" + row.Content + "</td><td>" + row.Price + "</td><td><a href='/Product/Edit/" + row.id +
                    //"' class='btn btn-primary'><i class='fa fa-edit'></i></a> | <a href='/Product/Delete/" + row.Id +
                    //"' class='btn btn-danger'><i class='fa fa-remove'></i></a></td></tr>");
                    
                });
                $('.count').text(i);
            });
        
        });
        $(window).load(function () {
            var i = 0;
            $.get("/Menu/GetMenu", { id: $("#cmbProducts").val() }, function (data) {
                $("#tbl-data").children("tr").remove();
                $.each(data, function (Index, row) {
                    i++;
                    $("#tbl-data").append("<tr><td>" + row.PName + "</td><td>" + row.Content + "</td><td>" + row.Price + "</td><td><a href='/Menu/Edit/" + row.ID +
                            "' class='btn btn-primary btn-tbl'><i class='fa fa-edit'></i></a> | <a href='/Menu/Delete/" + row.ID +
                            "' class='btn btn btn-danger btn-tbl'><i class='fa fa-remove'></i></a></td></tr>");
                   
                });
                $('.count').text(i);
            });
        });
    });
    //$.get("/ProductDetails/GetDetails", { ProductID: $("#cmbProducts").val() }, function (data) {
    //    $.each(data, function (Index, row) {
    //        if (data != null) {
    //            $("#tbl-data").children("tr").remove();
    //            $("#tbl-data").append("<tr><td><a href='/ProductDetails/Edit/" + row.ID +
    //                "' class='btn-edit'><i class='fa fa-edit'></i></a><a href='/ProductDetails/Delete/" + row.ID +
    //                "' class='btn-delete'><i class='fa fa-remove'></i></a><a href='/ProductDetails/Details/" + row.ID +
    //                "' class='btn-details'><i class='fa fa-file'></i></a></td><td style='width:100px;height:100px'><img src='~/Uploads/" + row.URL +
    //                "' class='img img-responsive'/></td><td>" + row.Details + "</td><td>" + row.Name + "</td>");
    //        }else{
    //            $("#tbl-data").children("tr").remove();
    //        }

    //    });
</script>
