@model CafeWebsite.Models.MenuCat

@{
    ViewBag.Title = "Delete";
}

<div class="card">
    <div class="header">
        <h2 class="title">Delete Menu's Category</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="form-control">
                    <label>Name : </label>
                    <label>
                        @Html.DisplayFor(model => model.Name)
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row text-center">
                        <div class="col-md-6">
                            <a class="btn btn-default" href="/MenuCat/Index">Back To List</a>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="Delete" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>