@model CafeWebsite.Models.MainDishes

@{
    ViewBag.Title = "Details";
}

<div class="card">
    <div class="header">
        <h2 class="title">MainDishe Details</h2>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="form-control">
                    <label>Name : </label>
                    <label>
                        @Html.DisplayFor(model => model.Name)
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <img src="~/Uploads/@Html.DisplayFor(model => model.URL)" class="img-box" id="b-img" />
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <a class="btn btn-default" href="/MainDishes/Index">Back To List</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary" href="/MainDishes/Edit/@Html.DisplayFor(m=>m.ID)">Edit</a>
            </div>
        </div>
    </div>
</div>